manifest {
  name = 'EV-pipeline'
  author = 'Unitat de Virus Respiratoris Vall dHebron'
  mainScript = 'enterovirus-genotyping.nf'
  version = '1'
}

params {
  help = null
  version = null
  input = null
  phredScore = 30
  workdir = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV"
  file = "./samples-list.csv"
  rawfastqDir = "./tmp"
  samplesDir = "./samples"
  references {
    refHuman = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/GRCh38_noalt_as/GRCh38_noalt_as"
    EVdb = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/ev-db/EV_genome-references.fasta"
    speciesType = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/ev-db/species-list.csv"
    VP1db = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/vp1-db/VP1_references.fasta"
    VP1dbDiamond = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/vp1-db/EV-VP1/EV-VP1.dmnd"
    VP1minimizers = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/files/vp1-db-test/VP1_minimizer.json"
  }
  primers = null
  protocol = "complete"
  programs {
    bbduk = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/programs/bbmap/bbduk.sh"
    generateFastas = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/enterovirus/genotyping-nf/bin/generate-fastas.py"
    translateSeq = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/enterovirus/genotyping-nf/bin/translateSeq.py"
    diamond = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/programs/diamond/diamond"
    getVP1 = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/enterovirus/genotyping-nf/bin/get-VP1.py"
    genotype = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/enterovirus/genotyping-nf/bin/genotype-VP1.py"
    qualitymetrics = "/gpfs/GENOM01/MICRO/Virologia/Virus_respiratorios/enterovirus/PFIS22-EV/enterovirus/genotyping-nf/bin/quality-metrics.py"
  }
  user = null
  fastaFile = null
}
